Repository GeyserMC/GeyserWebsite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

.github/CODEOWNERS:

* @GeyserMC/WikiAdmin @GeyserMC/GeyserTeam
/docs/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/i18n/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/static/img/wiki/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/src/data/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam

Add item display disclaimer to Rainbow wiki, reference to Rainbow in custom blocks and custom resource pack articles
  wiki/geyser/custom-blocks.md
  wiki/geyser/custom-resource-packs.md
  wiki/other/rainbow.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Some more waypoint style wiki and other small things
  wiki/geyser/custom-resource-packs.md
  wiki/geyser/custom-waypoints.mdx
  wiki/geyser/packs.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Document (custom) entity API
  sidebars.ts
  wiki/geyser/custom-entities.md
  wiki/geyser/custom-resource-packs.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

btw you would also probably want to have a resource pack, eh?
  wiki/geyser/custom-entities.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update versions.json (#162)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update code.json
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update wiki/geyser/custom-waypoints.mdx
  wiki/geyser/custom-waypoints.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Java 26.2 :eyes:
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Document (custom) entity API (#164)
  sidebars.ts
  wiki/geyser/custom-entities.md
  wiki/geyser/custom-resource-packs.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update download.tsx
  src/pages/download.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix Geyser references in playit-gg documentation
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix Geyser references in playit-gg documentation (#168)
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add page IDs to more pages, fix broken pages
  blog/2025-11-30-early-packet-handling-attack.md
  i18n/en/code.json
  wiki/api/api.geysermc.org/global-api-web-api-health-controller-health.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-link-controller-get-bedrock-link-v-1.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-link-controller-get-bedrock-link-v-2.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-link-controller-get-java-link-v-1.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-link-controller-get-java-link-v-2.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-render-controller-get-front-texture.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-render-controller-get-raw-texture.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-skin-controller-get-recent-uploads-page.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-skin-controller-get-recent-uploads.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-skin-controller-get-skin.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-stats-controller-get-all-stats-2.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-stats-controller-get-all-stats.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-utils-controller-get-bedrock-or-java-uuid.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-xbox-controller-get-gamertag-v-1.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-xbox-controller-get-gamertag-v-2.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-xbox-controller-get-xuid-v-1.api.mdx
  wiki/api/api.geysermc.org/global-api-web-api-xbox-controller-get-xuid-v-2.api.mdx
  wiki/api/api.geysermc.org/global-api.info.mdx
  wiki/api/downloads.geysermc.org/build-latest.api.mdx
  wiki/api/downloads.geysermc.org/build-specific.api.mdx
  wiki/api/downloads.geysermc.org/builds.api.mdx
  wiki/api/downloads.geysermc.org/download-latest.api.mdx
  wiki/api/downloads.geysermc.org/download-specific.api.mdx
  wiki/api/downloads.geysermc.org/downloads-api.info.mdx
  wiki/api/downloads.geysermc.org/project.api.mdx
  wiki/api/downloads.geysermc.org/projects.api.mdx
  wiki/api/downloads.geysermc.org/version.api.mdx
  wiki/geyser/custom-items-old.mdx
  wiki/geyser/custom-items.mdx
  wiki/geyser/setup.mdx
  wiki/geyser/setup/self/paper-spigot.mdx
  wiki/geyser/supported-versions.mdx
  wiki/other/geyserintegratedpack.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Update i18n pages
  i18n/ar/docusaurus-plugin-content-docs/current/geyser/commands.md
  i18n/ar/docusaurus-plugin-content-docs/current/geyser/playit-gg.md
  i18n/ar/docusaurus-plugin-content-docs/current/geyser/port-forwarding.md
  i18n/crp/docusaurus-plugin-content-docs/current/geyser/commands.md
  i18n/crp/docusaurus-plugin-content-docs/current/geyser/playit-gg.md
  i18n/crp/docusaurus-plugin-content-docs/current/geyser/port-forwarding.md
  i18n/cs/docusaurus-plugin-content-docs/current/geyser/commands.md
  i18n/cs/docusaurus-plugin-content-docs/current/geyser/playit-gg.md
  i18n/cs/docusaurus-plugin-content-docs/current/geyser/port-forwarding.md
  i18n/de/docusaurus-plugin-content-docs/current/geyser/commands.md
  i18n/de/docusaurus-plugin-content-docs/current/geyser/playit-gg.md
  i18n/de/docusaurus-plugin-content-docs/current/geyser/port-forwarding.md
  i18n/fr/docusaurus-plugin-content-docs/current/geyser/commands.md
  i18n/fr/docusaurus-plugin-content-docs/current/geyser/playit-gg.md
  i18n/fr/docusaurus-plugin-content-docs/current/geyser/port-forwarding.md
  i18n/it/docusaurus-plugin-content-docs/current/geyser/commands.md
  i18n/it/docusaurus-plugin-content-docs/current/geyser/playit-gg.md
  i18n/it/docusaurus-plugin-content-docs/current/geyser/port-forwarding.md
  i18n/ja/docusaurus-plugin-content-docs/current/geyser/commands.md
  i18n/ja/docusaurus-plugin-content-docs/current/geyser/playit-gg.md
  i18n/ja/docusaurus-plugin-content-docs/current/geyser/port-forwarding.md
  i18n/ru/docusaurus-plugin-content-docs/current/geyser/commands.md
  i18n/ru/docusaurus-plugin-content-docs/current/geyser/playit-gg.md
  i18n/ru/docusaurus-plugin-content-docs/current/geyser/port-forwarding.md
  i18n/tr/docusaurus-plugin-content-docs/current/geyser/commands.md
  i18n/tr/docusaurus-plugin-content-docs/current/geyser/playit-gg.md
  i18n/tr/docusaurus-plugin-content-docs/current/geyser/port-forwarding.md
  i18n/uk/docusaurus-plugin-content-docs/current/geyser/commands.md
  i18n/uk/docusaurus-plugin-content-docs/current/geyser/playit-gg.md
  i18n/uk/docusaurus-plugin-content-docs/current/geyser/port-forwarding.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/geyser/commands.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/geyser/playit-gg.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/geyser/port-forwarding.md
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Java 26.2 (#167)
  src/data/versions.json
  wiki/geyser/using-geyser-with-consoles.md
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Rename "custom resource pack" section to "custom content", update docs to reflect custom entity API changes
  sidebars.ts
  wiki/geyser/custom-content.md
  wiki/geyser/custom-entities.md
  wiki/geyser/custom-resource-packs.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Apply suggestions from code review
  wiki/geyser/custom-content.md
  wiki/geyser/custom-entities.md
  wiki/geyser/custom-waypoints.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update hurricane.md
  wiki/other/hurricane.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update linking.md
  wiki/floodgate/linking.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add MongoDB, MySQL, and SQLite Icon
  src/pages/download.tsx
  static/img/icons/mariadb.png
  static/img/icons/mongodb.png
  static/img/icons/sqlite.png
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update versions.json
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add missing support pages and articles on providers, add Discord links
  i18n/en/code.json
  src/components/MDXTranslatable.tsx
  src/components/Provider.tsx
  src/data/providers.ts
  src/types/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

26.2: Documentation for Custom Waypoints style API and Custom Entities (#161)
  sidebars.ts
  src/data/versions.json
  wiki/geyser/custom-blocks.md
  wiki/geyser/custom-content.md
  wiki/geyser/custom-entities.md
  wiki/geyser/custom-resource-packs.md
  wiki/geyser/custom-waypoints.mdx
  wiki/geyser/packs.md
  wiki/other/index.mdx
  wiki/other/rainbow.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Update latest bedrock version to v26.33 (#170)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update download.tsx
  src/pages/download.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update download.tsx
  src/pages/download.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Remove MongoDB, MySQL, and SQLite icons
  static/img/icons/mariadb.png
  static/img/icons/mongodb.png
  static/img/icons/sqlite.png
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update linking database extension download instructions in documentation
  wiki/floodgate/linking.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Added <target> for /linkaccount instructions on linking.md
  wiki/floodgate/linking.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add Floodgate Databases to the Other Projects section (#163)
  src/pages/download.tsx
  wiki/floodgate/linking.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Added the guide that playit made to a banner at the top of the page
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update custom-skulls page for JSON mappings
  wiki/geyser/custom-skulls.md
  wiki/geyser/custom-skulls.mdx
  wiki/geyser/custom-waypoints.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Some more updates
  wiki/geyser/custom-content.md
  wiki/geyser/custom-items.mdx
  wiki/geyser/custom-skulls.mdx
  wiki/geyser/custom-waypoints.mdx
  wiki/other/rainbow.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Address reviews
  src/data/versions.json
  wiki/geyser/custom-skulls.mdx
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update wiki for custom skull JSON mappings (#175)
  src/data/versions.json
  wiki/geyser/custom-content.md
  wiki/geyser/custom-items.mdx
  wiki/geyser/custom-skulls.md
  wiki/geyser/custom-skulls.mdx
  wiki/geyser/custom-waypoints.mdx
  wiki/other/rainbow.md
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update hosting provider listings (#157)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update anticheat-compatibility.md
  wiki/geyser/anticheat-compatibility.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update anticheat-compatibility.md
  wiki/geyser/anticheat-compatibility.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam
