Repository GeyserMC/GeyserWebsite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Add privacy policy link to footer
  docusaurus.config.ts
  i18n/en/docusaurus-theme-classic/footer.json
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Update Geyser API version
  wiki/geyser/getting-started-with-the-api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Rename Feather Client to Dawn (#165)
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add Junction to community projects (#156)
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

docs: clarify Java and Bedrock reachability checks
  wiki/geyser/fixing-unable-to-connect-to-world.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add TrueTick to the built-in hosting providers
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update anticheat-compatibility.md
  wiki/geyser/anticheat-compatibility.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add Supercraft to supported hosting providers
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add Supercraft to supported hosting providers
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update Geyser API version to 2.11.2-SNAPSHOT
  wiki/geyser/getting-started-with-the-api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update versions.json
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update src/data/versions.json
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Shorten the Supercraft entry to match the other providers
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Indicate Minecraft: Bedrock Edition 26.45 support (#184)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update Geyser API version (#177)
  wiki/geyser/getting-started-with-the-api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add Nethernet upgrade guide
  i18n/en/code.json
  i18n/en/docusaurus-plugin-content-docs/current.json
  sidebars.ts
  src/components/Provider.tsx
  wiki/geyser/nethernet/setup.md
  wiki/geyser/setup/self/modded-servers.mdx
  wiki/geyser/setup/self/paper-spigot.mdx
  wiki/geyser/setup/self/proxy-servers.mdx
  wiki/geyser/setup/self/viaproxy.mdx
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update supported versions for bedrock
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update supported versions for bedrock (#186)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add custom biomes documentation
  sidebars.ts
  wiki/geyser/custom-biomes.mdx
  wiki/geyser/custom-blocks.md
  wiki/geyser/custom-content.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add OuiHeberg to supported hosting providers
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add fade-In animation
  src/pages/index.module.scss
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update wiki/geyser/nethernet/setup.md
  wiki/geyser/nethernet/setup.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update wiki/geyser/nethernet/setup.md
  wiki/geyser/nethernet/setup.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix TODOs in setup.md
  wiki/geyser/nethernet/setup.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update providers.ts (#188)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Apply suggestion from @Novampr
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update Via links
  wiki/geyser/common-issues.md
  wiki/geyser/faq.mdx
  wiki/geyser/setup/provider/paper-spigot.mdx
  wiki/geyser/setup/self/paper-spigot.mdx
  wiki/geyser/supported-versions.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add BridgePlay to console alternative methods
  wiki/geyser/using-geyser-with-consoles.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update ViaProxy links
  wiki/geyser/faq.mdx
  wiki/geyser/setup/self/viaproxy.mdx
  wiki/geyser/supported-versions.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update Via links (#191)
  wiki/geyser/common-issues.md
  wiki/geyser/faq.mdx
  wiki/geyser/setup/provider/paper-spigot.mdx
  wiki/geyser/setup/self/paper-spigot.mdx
  wiki/geyser/setup/self/viaproxy.mdx
  wiki/geyser/supported-versions.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update versions.json
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update versions.json (#193)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add Flux to built-in Geyser hosting providers
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Flux: Geyser also works with no setup on Fabric and NeoForge
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add Astrol Nodes to supported hosting providers
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

.github/CODEOWNERS:

* @GeyserMC/WikiAdmin @GeyserMC/GeyserTeam
/docs/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/i18n/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/static/img/wiki/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/src/data/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
