Repository GeyserMC/GeyserWebsite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Update versions.json
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Remove LAC because it is no longer being maintained (#76)
  wiki/geyser/anticheat-compatibility.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update versions.json for 1.21.94 (#79)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update anticheat-compatibility.md (#74)
  wiki/geyser/anticheat-compatibility.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update versions.json for 1.21.7 (#77)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update versions.json to include 1.21.72 (#64)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add OrionNodes to providers (#69)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update faq.mdx to include recommended API (#73)
  wiki/geyser/faq.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add Modrinth Servers to providers (#63)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Stop translations from overriding footer message
  docusaurus.config.ts
  i18n/en/docusaurus-theme-classic/footer.json
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Documentation for changes in API/2.6.2 (#62)
  sidebars.ts
  src/data/versions.json
  wiki/geyser/api.md
  wiki/geyser/extensions.md
  wiki/geyser/getting-started-with-the-api.md
  wiki/geyser/geyser-command-line-arguments-and-system-properties.md
  wiki/geyser/packs.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Readd Hydraulic and add Rainbow, provide Item API V2 warning for Hydraulic (#82)
  src/components/ProjectDownload.tsx
  src/css/custom.scss
  src/pages/download.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update providers and deploy action
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
  src/data/providers.ts
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Added GeyserFloatingPoints to FAQ (#92)
  wiki/geyser/faq.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update version.json for 1.21.100 (#88)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update versions.json for Java 1.21.9/1.21.10 (#97)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update Geyser Api version (#81)
  wiki/geyser/getting-started-with-the-api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Replace the Crowdin link with the current one (#101)
  wiki/geyser/translations.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Remove Geyser Android App and Tempest (#83)
  wiki/geyser/using-geyser-with-consoles.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update versions.json to indicate support for bedrock 1.21.111
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update extensions file for new dependency system (#98)
  wiki/geyser/extensions.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update versions.json to include 1.21.114 (#102)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update getting-started-with-the-api.md (#89)
  wiki/geyser/getting-started-with-the-api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add and update wiki pages, add Thunder download. (#90)
  docusaurus.config.ts
  sidebars.ts
  src/css/custom.scss
  src/pages/download.tsx
  wiki/other/geyseroptionalpack.md
  wiki/other/hurricane.md
  wiki/other/rainbow.md
  wiki/other/thunder.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Indicate 1.21.101 on the Geyser Website (#93)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Revise port forwarding instructions for Ubuntu
  wiki/geyser/port-forwarding.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update rainbow.md to indicate 1.21.9/.10 (#103)
  wiki/other/rainbow.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix incorrect Ubuntu on Oracle Cloud instructions (#84)
  wiki/geyser/port-forwarding.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Correct providers syntax
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update versions.json
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Use more templates wherever possible
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update versions.json
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update versions.json (#104)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add warning to not change Geyser port in playit-gg.md
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Mention changing the broadcast-port for ping issues in playit-gg.md
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix some duplicate text in playit-gg.md
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Tweak playit-gg.md
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Tweak troubleshooting steps in playit-gg.md
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add better spacing in playit-gg.md
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add warning to not change Geyser port in playit-gg.md (#105)
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

.github/CODEOWNERS:

* @GeyserMC/WikiAdmin @GeyserMC/GeyserTeam
/docs/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/i18n/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/static/img/wiki/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/src/data/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
