Repository GeyserMC/GeyserWebsite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Remove explicit url/file-loader resolutions
  package.json
  yarn.lock
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Only log webpack errors
  docusaurus.config.ts
  src/plugins/modify-webpack.ts
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

update mod/proxy pages
  src/components/Provider.tsx
  src/data/providers.ts
  wiki/geyser/setup.mdx
  wiki/geyser/setup/provider/_modded-servers.mdx
  wiki/geyser/setup/provider/_proxy-servers.mdx
  wiki/geyser/setup/provider/modded-servers.mdx
  wiki/geyser/setup/provider/proxy-servers.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update community-geyser-projects.md
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update supported Bedrock versions
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update community-geyser-projects.md
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update wiki/other/community-geyser-projects.md
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

API is discontinued
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update community-geyser-projects.md
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Remove and Replace "TydiumCraft Skin API" (#53)
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update wording for creepernation api
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update wiki/other/community-geyser-projects.md
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update GeyserExtras description (#52)
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update the phrase
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update index.md to make clear that this is for servers, not purely for clients
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Added MCServerHost to hosting providers (#47)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update supported Bedrock versions
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update GeyserExtras description (#52)
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update wording for creepernation api
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Remove and Replace "TydiumCraft Skin API" (#53)
  wiki/other/community-geyser-projects.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Try matrix build strategy
  .github/workflows/deploy.yml
  .gitignore
  docusaurus.config.ts
  package.json
  src/plugins/output-locales.ts
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix matrix output
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Matrix goes to GITHUB_OUTPUT
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix deploy needs to combine
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Ensure correct commit is used if crowdin updates
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Maintain alphabetized list
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update index.md to make clear that this is for servers, not purely for clients (#57)
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update providers.ts (#58)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Make sure excluded content is respected
  i18n/en/code.json
  src/plugins/crowdin-sync.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Allow permission for commit action write
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update providers.ts (#58)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update index.md to make clear that this is for servers, not purely for clients (#57)
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Start on re-writing the providers page to provide more useful details to improve the setup guide
  src/data/providers.ts
  src/types/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

more work on this
  src/types/providers.ts
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Rework paper page for setup
  src/components/Provider.tsx
  wiki/geyser/setup.mdx
  wiki/geyser/setup/provider/paper-spigot.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Don't try and build paper setup as a full page
  wiki/geyser/setup.mdx
  wiki/geyser/setup/provider/_paper-spigot.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

adjust not listed message
  src/components/Provider.tsx
  src/types/providers.ts
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

update mod/proxy pages
  src/components/Provider.tsx
  wiki/geyser/setup.mdx
  wiki/geyser/setup/provider/_modded-servers.mdx
  wiki/geyser/setup/provider/_proxy-servers.mdx
  wiki/geyser/setup/provider/modded-servers.mdx
  wiki/geyser/setup/provider/proxy-servers.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

.github/CODEOWNERS:

* @GeyserMC/WikiAdmin @GeyserMC/GeyserTeam
/docs/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/i18n/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/static/img/wiki/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/src/data/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
