Repository GeyserMC/GeyserWebsite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

.github/CODEOWNERS:

* @GeyserMC/WikiAdmin @GeyserMC/GeyserTeam
/docs/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/i18n/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/static/img/wiki/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/src/data/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam

Update supported and latest versions for the 26.10 release (#132)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update providers.ts
  blog/2025-11-30-early-packet-handling-attack.md
  src/data/providers.ts
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add description for AxentHost provider
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update AxentHost installation instructions for GeyserMC
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Revise GeyserMC installation instructions for AxentHost
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update AxentHost installation instructions
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

fix: normalize EOL
  blog/2025-11-30-early-packet-handling-attack.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update Netherlink download link
  wiki/geyser/using-geyser-with-consoles.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Re-write step 11
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update supported Java version to 26.1
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Swap "not running" to "running a version earlier than"
  wiki/geyser/setup/provider/paper-spigot.mdx
  wiki/geyser/setup/self/paper-spigot.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update wiki/geyser/setup/provider/paper-spigot.mdx
  wiki/geyser/setup/provider/paper-spigot.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

earlier -> older
  wiki/geyser/setup/provider/paper-spigot.mdx
  wiki/geyser/setup/self/paper-spigot.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Clarifying the version requirements by swapping "not running" to "running a version older than" (#136)
  wiki/geyser/setup/provider/paper-spigot.mdx
  wiki/geyser/setup/self/paper-spigot.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add AxentHost to providers list (#49)
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update rainbow.md
  wiki/other/rainbow.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix grammar
  wiki/other/rainbow.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Change the footer link
  docusaurus.config.ts
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add hyperlink at geyserintegratedpack.md
  wiki/other/geyserintegratedpack.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update api version
  wiki/geyser/getting-started-with-the-api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update links at extensions.md
  wiki/geyser/extensions.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update version
  wiki/geyser/getting-started-with-the-api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update outdated content (#138)
  docusaurus.config.ts
  wiki/geyser/extensions.md
  wiki/geyser/getting-started-with-the-api.md
  wiki/other/geyserintegratedpack.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update Rainbow's version in the wiki (#137)
  wiki/other/rainbow.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Change Properties to Addons and update Crossplay FAQ link
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Change Properties to Addons and update Crossplay FAQ link (#139)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

feat: Added new hosting provider and adjusted wording of existing one
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

re-add empty line code.json
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

re-add empty line in code.json
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update code.json
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update KaasHosting instructions with auto-install support
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Wording fixes from @Novampr
  wiki/geyser/faq.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update WiseHosting instructions in code.json
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Added new hosting provider and adjusted wording of existing one (#140)
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update WiseHosting instructions in code.json (#142)
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam
