Repository GeyserMC/GeyserWebsite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

.github/CODEOWNERS:

* @GeyserMC/WikiAdmin @GeyserMC/GeyserTeam
/docs/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/i18n/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/static/img/wiki/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/src/data/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam

Add Wasabi Hosting to providers list (#39)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

changes
  src/components/TroubleshootingTree/index.tsx
  src/components/TroubleshootingTree/steps/md/Test.mdx
  wiki/geyser/common-issues.md
  wiki/geyser/secure-chat.md
  yarn.lock
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update supported versions
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update supported Bedrock versions (#40)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Remove MCProHosting from providers list
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Remove MCProHosting from providers list (#41)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update supported versions
  src/data/versions.json
  wiki/geyser/setup/provider/modded-servers.mdx
  wiki/geyser/setup/self/modded-servers.mdx
  wiki/geyser/supported-versions.md
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Must setup node twice to enable corepack
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Get everything building again
  .github/workflows/deploy.yml
  i18n/en/code.json
  i18n/en/docusaurus-plugin-content-docs/current.json
  i18n/en/docusaurus-theme-classic/footer.json
  package.json
  src/data/providers.ts
  src/pages/download.tsx
  src/plugins/create-providers-json.ts
  tsconfig.json
  wiki/geyser/index.mdx
  wiki/other/index.mdx
  yarn.lock
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Update to latest version of Docusaurus and Yarn v4 (#42)
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
  .gitignore
  .yarnrc.yml
  i18n/en/code.json
  i18n/en/docusaurus-plugin-content-docs/current.json
  i18n/en/docusaurus-theme-classic/footer.json
  package.json
  src/data/providers.ts
  src/pages/download.tsx
  src/plugins/create-providers-json.ts
  tsconfig.json
  wiki/geyser/index.mdx
  wiki/other/index.mdx
  yarn.lock
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Add docs for extension update folder
  wiki/geyser/extensions.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add docs for extension update folder (#43)
  wiki/geyser/extensions.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

chore: translate remaining provider descriptions
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

chore: translate remaining provider descriptions (#44)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Start on new troubleshooting pages
  src/components/TroubleshootingTree/steps/OwnerPrerequesite.tsx
  src/components/TroubleshootingTree/steps/md/steps.mdx
  wiki/geyser/server-hosting-providers.md
  wiki/geyser/troubleshooting/address-already-in-use.md
  wiki/geyser/troubleshooting/command-issues.md
  wiki/geyser/troubleshooting/connecting-to-the-server.mdx
  wiki/geyser/troubleshooting/connection-closed.md
  wiki/geyser/troubleshooting/others.mdx
  wiki/geyser/troubleshooting/secure-chat.md
  wiki/geyser/troubleshooting/troubleshooting.md
  wiki/geyser/troubleshooting/unable-to-connect.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update headings to avoid errors from MDXv2 parser
  wiki/api/index.mdx
  wiki/floodgate/setup/proxy-servers.mdx
  wiki/geyser/faq.mdx
  wiki/geyser/index.mdx
  wiki/geyser/setup/self/standalone.mdx
  wiki/geyser/supported-hosting-providers.mdx
  wiki/index.mdx
  wiki/other/index.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update headings to avoid errors from MDXv2 parser (#45)
  wiki/api/index.mdx
  wiki/floodgate/setup/proxy-servers.mdx
  wiki/geyser/faq.mdx
  wiki/geyser/index.mdx
  wiki/geyser/setup/self/standalone.mdx
  wiki/geyser/supported-hosting-providers.mdx
  wiki/index.mdx
  wiki/other/index.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix switch display on config editor page
  src/pages/utilities/config-editor.tsx
  src/pages/utilities/utilities.module.scss
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Start on re-writing the providers page to provide more useful details to improve the setup guide
  src/data/providers.ts
  src/types/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add crowdin in-context demo for non-mdx
  i18n/crp/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update current-limitations.md to include Geyser Recipe Fix
  wiki/geyser/current-limitations.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Added MCServerHost to hosting providers
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Correct grammar and make instructions more concise
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Added MCServerHost to hosting providers (#47)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add crowdin-sync system
  docusaurus.config.ts
  package.json
  src/plugins/crowdin-sync.ts
  src/plugins/custom_modules/translate.ts
  yarn.lock
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

more work on this
  src/data/providers.ts
  src/types/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

even more changes
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

finalize host instructions
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Rework paper page for setup
  src/components/Provider.tsx
  wiki/geyser/setup.mdx
  wiki/geyser/setup/provider/paper-spigot.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Don't try and build paper setup as a full page
  wiki/geyser/setup.mdx
  wiki/geyser/setup/provider/_paper-spigot.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Remove front matter
  wiki/geyser/setup/provider/_paper-spigot.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

adjust not listed message
  src/components/Provider.tsx
  src/types/providers.ts
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Only build en locale for PRs
  .github/workflows/pr.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Modify yarn install
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Do not immute cache
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Try with standard yarn install
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Revert to yarn --immutable
  .github/workflows/deploy.yml
  .github/workflows/pr.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam
