Repository GeyserMC/GeyserWebsite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

.github/CODEOWNERS:

* @GeyserMC/WikiAdmin @GeyserMC/GeyserTeam
/docs/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/i18n/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/static/img/wiki/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/src/data/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam

Maintain alphabetical order and fix minor date typo
  wiki/geyser/anticheat-compatibility.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Added LightAntiCheat & Updated dates (#15)
  wiki/geyser/anticheat-compatibility.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add more index pages, fix /wiki/ not showing anything
  docusaurus.config.ts
  sidebars.ts
  wiki/api/index.mdx
  wiki/index.mdx
  wiki/other/index.mdx
  wiki/other/root.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add more index pages, fix /wiki/ not showing anything (#16)
  docusaurus.config.ts
  sidebars.ts
  wiki/api/index.mdx
  wiki/index.mdx
  wiki/other/index.mdx
  wiki/other/root.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix url
  wiki/other/geyseroptionalpack.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Generate versions.json at build time
  docusaurus.config.ts
  src/components/Versions.tsx
  src/data/versions.json
  src/plugins/create-versions-json.ts
  static/versions.json
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Collapsible links & link GeyserOptionalPack download; Closes #17
  src/components/Collapsibles.tsx
  src/pages/download/index.tsx
  src/types/modules.d.ts
  wiki/other/geyseroptionalpack.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Collapsible links & link GeyserOptionalPack download; Closes #17 (#19)
  src/components/Collapsibles.tsx
  src/pages/download/index.tsx
  src/types/modules.d.ts
  wiki/other/geyseroptionalpack.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add missing logo file back
  static/img/geyser-1760-860.png
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add floodgate fabric back to downloads page
  src/components/ProjectDownload.tsx
  src/pages/download/index.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Also update extension docs/api version in api docs
  wiki/geyser/extensions.md
  wiki/geyser/getting-started-with-the-api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Feature: Document cloud changes (#8)
  wiki/geyser/commands.md
  wiki/geyser/extensions.md
  wiki/geyser/fixing-unable-to-connect-to-world.md
  wiki/geyser/getting-started-with-the-api.md
  wiki/geyser/setup/provider/modded-servers.mdx
  wiki/geyser/setup/provider/paper-spigot.mdx
  wiki/geyser/setup/provider/proxy-servers.mdx
  wiki/geyser/setup/self/modded-servers.mdx
  wiki/geyser/setup/self/paper-spigot.mdx
  wiki/geyser/setup/self/proxy-servers.mdx
  wiki/geyser/setup/self/standalone.mdx
  wiki/geyser/setup/self/viaproxy.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update DedicatedMC's provider description
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update DedicatedMC's provider description (#20)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update defaults of some network system properties
  wiki/geyser/geyser-command-line-arguments-and-system-properties.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

update wording since displayed values have changed
  wiki/geyser/geyser-command-line-arguments-and-system-properties.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update defaults of some network system properties (#21)
  wiki/geyser/geyser-command-line-arguments-and-system-properties.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update Hosting-Minecraft info
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Don't escape double quotes & correct grammar
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update Hosting-Minecraft info (#22)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update understanding-the-config.md
  wiki/geyser/understanding-the-config.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update understanding-the-config.md
  wiki/geyser/understanding-the-config.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix: Outdated config documentation (#23)
  wiki/geyser/understanding-the-config.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix DedicatedMC info not being updated
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update Vultam provider description
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Fix wiki/floodgate/ no showing sitebar
  sidebars.ts
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Change content in floodgate\index.md
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update desc
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update index.md
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update index.md
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update Vultam provider description (#24)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update wiki/floodgate/index.md
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update wiki/floodgate/index.md
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update wiki/floodgate/index.md
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update wiki/floodgate/index.md
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update index.md
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Revise Floodgate overview page (#25)
  sidebars.ts
  wiki/floodgate/index.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update link in wiki/other/geyserconnect.md
  wiki/other/geyserconnect.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

fix: error title hierarchy in wiki\geyser\api.md
  wiki/geyser/api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update linking.md
  wiki/floodgate/linking.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam
