Repository GeyserMC/GeyserWebsite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Initial setup i18n
  src/components/InlineCode.tsx
  src/components/MDXTranslatable.tsx
  src/components/Provider.tsx
  src/plugins/create-providers-json.ts
  static/img/icons/bungeecord.png
  wiki/geyser/setup.mdx
  wiki/geyser/setup/provider/_modded-servers.mdx
  wiki/geyser/setup/provider/_paper-spigot.mdx
  wiki/geyser/setup/provider/_proxy-servers.mdx
  wiki/geyser/setup/provider/bungeecord.mdx
  wiki/geyser/setup/provider/fabric.mdx
  wiki/geyser/setup/provider/neoforge.mdx
  wiki/geyser/setup/provider/paper-spigot.mdx
  wiki/geyser/setup/provider/velocity.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add ability to hide proxy setup instructions by provider
  src/data/providers.ts
  src/types/providers.ts
  wiki/geyser/setup.mdx
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Temporary auto deployment; fix broken links
  .github/workflows/deploy.yml
  wiki/geyser/setup/provider/fabric.mdx
  wiki/geyser/setup/provider/neoforge.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix heading consistency
  src/components/Provider.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update current-limitations.md
  wiki/geyser/current-limitations.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update the current limitations page (#59)
  wiki/geyser/current-limitations.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add Play Hosting to i18n
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add Play Hosting to providers
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Fix Play Hosting and OMGServ order
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Fix order in `code.json` too
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update getting-started-with-the-api.md
  wiki/geyser/getting-started-with-the-api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update getting-started-with-the-api.md (#61)
  wiki/geyser/getting-started-with-the-api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update language on provider instructions
  src/components/Provider.tsx
  src/data/providers.ts
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Update language on new provider instructions
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Document latest Geyser changes: - remote resource packs
  wiki/geyser/geyser-command-line-arguments-and-system-properties.md
  wiki/geyser/packs.md
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

small typo fixes
  wiki/geyser/packs.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update/Finish pack docs
  wiki/geyser/packs.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update page content
  sidebars.ts
  wiki/geyser/api.md
  wiki/geyser/getting-started-with-the-api.md
  wiki/geyser/packs.md
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

fix build
  wiki/geyser/extensions.md
  wiki/geyser/packs.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update supported Bedrock version
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Documentation for changes in API/2.6.2 (#62)
  sidebars.ts
  src/data/versions.json
  wiki/geyser/api.md
  wiki/geyser/extensions.md
  wiki/geyser/getting-started-with-the-api.md
  wiki/geyser/geyser-command-line-arguments-and-system-properties.md
  wiki/geyser/packs.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Add Modrinth Servers to providers
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add Modrinth Servers to providers (#63)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update supported versions & api version
  src/data/versions.json
  wiki/geyser/extensions.md
  wiki/geyser/getting-started-with-the-api.md
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update versions.json to include 1.21.72
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update versions.json to include 1.21.72 (#64)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

using-geyser-with-consoles.md
  wiki/geyser/using-geyser-with-consoles.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update faq.mdx
  wiki/geyser/faq.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update the bedrock version to be latest
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update bedrock version (#67)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add 'we are not mojang' disclaimer to footer
  docusaurus.config.ts
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Stop translations from overriding footer message
  docusaurus.config.ts
  i18n/en/docusaurus-theme-classic/footer.json
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Fix Standalone dump view
  src/pages/utilities/dump-viewer.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix Standalone dump view (#68)
  src/pages/utilities/dump-viewer.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add OrionNodes to providers
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add OrionNodes to providers (#69)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update supported Bedrock versions in versions.json (1.21.81, 1.21.82)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update supported Bedrock versions in versions.json (1.21.81, 1.21.82) (#70)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add extensions page
  docusaurus.config.ts
  i18n/en/code.json
  src/css/custom.scss
  src/data/extensions.json
  src/pages/extensions.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Remove grid component from an earlier test
  src/pages/extensions.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

.github/CODEOWNERS:

* @GeyserMC/WikiAdmin @GeyserMC/GeyserTeam
/docs/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/i18n/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/static/img/wiki/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/src/data/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
