Repository GeyserMC/GeyserWebsite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

.github/CODEOWNERS:

* @GeyserMC/WikiAdmin @GeyserMC/GeyserTeam
/docs/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/i18n/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/static/img/wiki/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/src/data/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam

Add build cache; update docusaurus-og
  .github/workflows/deploy.yml
  package.json
  src/plugins/create-versions-json.ts
  yarn.lock
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Test deploy time with cache hit
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Use read-only cache for matrix build
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Unlikely we will use gh actions on arm...
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

This time cache will hit
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Hopefully correct yarn cache path...
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Maybe npm?
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Surely...
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

This time...
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Include yarn/docusaurus cache for PRs
  .github/workflows/pr.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Clarify broadcast port instructions in playit-gg.md
  wiki/geyser/playit-gg.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Prepare for configurate changes, update API version, document all commands
  blog/2024-05-05-raknet-amplification-attack.md
  docusaurus.config.ts
  i18n/en/code.json
  i18n/en/docusaurus-theme-classic/navbar.json
  sidebars.ts
  src/data/providers.ts
  src/pages/download.tsx
  src/pages/utilities/config-editor.tsx
  wiki/geyser/commands.md
  wiki/geyser/common-issues.md
  wiki/geyser/current-limitations.md
  wiki/geyser/custom-blocks.md
  wiki/geyser/custom-skulls.md
  wiki/geyser/extensions.md
  wiki/geyser/getting-started-with-the-api.md
  wiki/geyser/index.mdx
  wiki/geyser/playit-gg.md
  wiki/geyser/setup/provider/modded-servers.mdx
  wiki/geyser/setup/provider/paper-spigot.mdx
  wiki/geyser/setup/provider/proxy-servers.mdx
  wiki/geyser/setup/self/modded-servers.mdx
  wiki/geyser/setup/self/paper-spigot.mdx
  wiki/geyser/setup/self/proxy-servers.mdx
  wiki/geyser/setup/self/standalone.mdx
  wiki/geyser/setup/self/viaproxy.mdx
  wiki/geyser/understanding-the-config.md
  wiki/other/geyserintegratedpack.md
  wiki/other/geyseroptionalpack.md
  wiki/other/index.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Forgot these
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Document GeyserIntegratedPack behavior
  wiki/other/geyserintegratedpack.md
  wiki/other/geyseroptionalpack.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update wiki/other/geyserintegratedpack.md
  wiki/other/geyserintegratedpack.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update wiki/geyser/current-limitations.md
  wiki/geyser/current-limitations.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Feature: Configurate changes (#107)
  blog/2024-05-05-raknet-amplification-attack.md
  docusaurus.config.ts
  i18n/en/code.json
  i18n/en/docusaurus-theme-classic/navbar.json
  sidebars.ts
  src/data/providers.ts
  src/pages/download.tsx
  src/pages/utilities/config-editor.tsx
  wiki/geyser/commands.md
  wiki/geyser/common-issues.md
  wiki/geyser/current-limitations.md
  wiki/geyser/custom-blocks.md
  wiki/geyser/custom-skulls.md
  wiki/geyser/extensions.md
  wiki/geyser/getting-started-with-the-api.md
  wiki/geyser/index.mdx
  wiki/geyser/playit-gg.md
  wiki/geyser/setup/provider/modded-servers.mdx
  wiki/geyser/setup/provider/paper-spigot.mdx
  wiki/geyser/setup/provider/proxy-servers.mdx
  wiki/geyser/setup/self/modded-servers.mdx
  wiki/geyser/setup/self/paper-spigot.mdx
  wiki/geyser/setup/self/proxy-servers.mdx
  wiki/geyser/setup/self/standalone.mdx
  wiki/geyser/setup/self/viaproxy.mdx
  wiki/geyser/understanding-the-config.md
  wiki/other/geyserintegratedpack.md
  wiki/other/geyseroptionalpack.md
  wiki/other/index.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Indicate 1.21.124 support
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Updatee complete version range
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update src/data/providers.ts
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update Bisect Hosting information (#95)
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update test server details in documentation
  wiki/other/test-server.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add early packet handling attack blog post
  blog/2025-11-30-early-packet-handling-attack.md
  src/css/custom.scss
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_01.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_01_dark.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_02.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_02_dark.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_03.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_03_dark.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_04.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_04_dark.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_05.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_05_dark.svg
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add early packet handling attack blog post (#108)
  blog/2025-11-30-early-packet-handling-attack.md
  src/css/custom.scss
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_01.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_01_dark.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_02.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_02_dark.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_03.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_03_dark.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_04.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_04_dark.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_05.svg
  static/img/blog/2025-11-30-early-packet-handling-attack/chart_05_dark.svg
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update versions.json to indicate 1.21.130 support
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update versions.json to indicate 1.21.130 support (#109)
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Improve readability of supported hosting providers
  src/components/Provider.tsx
  wiki/geyser/supported-hosting-providers.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add description for freemcserver.net provider to code.json
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update FreeMcServer.net provider details (#99)
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Improve readability of supported hosting providers (#110)
  src/components/Provider.tsx
  wiki/geyser/supported-hosting-providers.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add description for ultraservers provider to code.json
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add UltraServers to providers list (#85)
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Revise BedrockHost installation description
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add BedrockHost provider description to code.json
  i18n/en/code.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add BedrockHost to providers list (#91)
  i18n/en/code.json
  src/data/providers.ts
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Add initial Geyser & Floodgate software pages
  .gitignore
  docusaurus.config.ts
  src/components/SoftwareFeature/index.tsx
  src/components/SoftwareFeature/styles.module.scss
  src/components/SoftwareHero/index.tsx
  src/components/SoftwareHero/styles.module.scss
  src/components/SoftwareStats/index.tsx
  src/components/SoftwareStats/styles.module.scss
  src/pages/software/floodgate.tsx
  src/pages/software/geyser.tsx
  src/pages/software/software.module.css
  static/img/icons/commit-dark.svg
  static/img/icons/commit-white.svg
  static/img/icons/github-dark.svg
  static/img/icons/github-white.svg
  static/img/icons/server-dark.svg
  static/img/icons/server-white.svg
  static/img/icons/star-dark.svg
  static/img/icons/star-white.svg
  static/img/icons/user-dark.svg
  static/img/icons/user-white.svg
  yarn.lock
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Revert lockfile change to fix build
  yarn.lock
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Try and fix the build again
  yarn.lock
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

try fix build one more time
  yarn.lock
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Change homepage layout
  src/components/HomepageFeature/index.tsx
  src/components/HomepageFeature/styles.module.scss
  src/components/HomepageFeatures/index.tsx
  src/components/HomepageFeatures/styles.module.scss
  src/pages/index.module.scss
  src/pages/index.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam
