Repository GeyserMC/GeyserWebsite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

.github/CODEOWNERS:

* @GeyserMC/WikiAdmin @GeyserMC/GeyserTeam
/docs/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/i18n/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/static/img/wiki/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam
/src/data/** @GeyserMC/Moderators @GeyserMC/WikiAdmin @GeyserMC/Triage @GeyserMC/GeyserTeam

Update geyser api version
  wiki/geyser/getting-started-with-the-api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update floodgate javadocs link
  wiki/floodgate/api.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Add the download link in hydraulic.md
  wiki/other/hydraulic.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update hydraulic.md
  wiki/other/hydraulic.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update understanding-the-config.md
  wiki/geyser/understanding-the-config.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

fix(config-editor): no showing checkbox
  src/pages/utilities/utilities.module.scss
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Added the option to display the comments out
  src/pages/utilities/config-editor.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update config-editor.tsx
  src/pages/utilities/config-editor.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update config-editor.tsx
  src/pages/utilities/config-editor.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update hydraulic.md
  wiki/other/hydraulic.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Minor fixes and small changes (#26)
  src/pages/utilities/config-editor.tsx
  src/pages/utilities/utilities.module.scss
  wiki/floodgate/api.md
  wiki/floodgate/linking.md
  wiki/geyser/api.md
  wiki/geyser/getting-started-with-the-api.md
  wiki/geyser/understanding-the-config.md
  wiki/other/geyserconnect.md
  wiki/other/hydraulic.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update versions.json
  src/data/versions.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

remove the removed option
  wiki/geyser/understanding-the-config.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

remove useless condition
  src/pages/utilities/config-editor.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Small changes (#27)
  src/pages/utilities/config-editor.tsx
  wiki/geyser/understanding-the-config.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Overhaul of config-editor
  src/pages/utilities/config-editor.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update default card header
  src/pages/utilities/config-editor.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update config-editor.tsx
  src/pages/utilities/config-editor.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update config-editor.tsx
  src/pages/utilities/config-editor.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update config-editor.tsx
  src/pages/utilities/config-editor.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Revert "Merge branch 'patch5-temp' into patch-5"
  src/pages/utilities/config-editor.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update config-editor.tsx
  src/pages/utilities/config-editor.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Revert "Update config-editor.tsx"
  src/pages/utilities/config-editor.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update utilities.module.scss
  src/pages/utilities/utilities.module.scss
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Revert "Update utilities.module.scss"
  src/pages/utilities/utilities.module.scss
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update dump-viewer.tsx
  src/pages/utilities/dump-viewer.tsx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Comment out MCXboxBroadcast on wiki while broken
  wiki/geyser/using-geyser-with-consoles.md
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

init
  crowdin.yml
  docusaurus.config.ts
  i18n/en/blog/options.json
  i18n/en/wiki/current.json
  package.json
  yarn.lock
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

Update
  .gitignore
  package.json
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

update
  crowdin.yml
  docusaurus.config.ts
  i18n/en/blog/options.json
  i18n/en/wiki/current.json
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam, @GeyserMC/Moderators, @GeyserMC/Triage

update
  .gitignore
  crowdin.yml
  docusaurus.config.ts
  package.json
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

update
  i18n/en/code.json
  i18n/en/docusaurus-theme-classic/footer.json
Owners: @GeyserMC/Moderators, @GeyserMC/WikiAdmin, @GeyserMC/Triage, @GeyserMC/GeyserTeam

Update deploy.yml
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Fix the problem of crowdin modifying the format
  wiki/floodgate/faq.mdx
  wiki/geyser/common-issues.md
  wiki/geyser/faq.mdx
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update crowdin.yml
  crowdin.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update .gitignore
  .gitignore
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update deploy.yml
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update deploy.yml
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update deploy.yml
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam

Update deploy.yml
  .github/workflows/deploy.yml
Owners: @GeyserMC/WikiAdmin, @GeyserMC/GeyserTeam
